#adminModal {
    position: fixed;
    z-index: 9999;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
#adminModalContent {
    background: white;
    padding: 30px;
    max-width: 400px;
    margin: 150px auto;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000;
}
body.dark-mode #adminModalContent {
    background: #222;
    color: #fff;
}
body.dark-mode #adminModalContent input::placeholder {
    color: #ddd;
}
body.dark-mode #adminModalContent input {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}
body.dark-mode #adminModalContent button {
    color: #fff;
}

/* Modal for editing multi-line text */
#editModal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

#editModalContent {
    background: white;
    padding: 30px;
    max-width: 600px;
    margin: 150px auto;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000;
}

body.dark-mode #editModalContent {
    background: #222;
    color: #fff;
}

body.dark-mode #editModalContent textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}